NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://jaoksen_db_user:dP6cE2lZGmRS9b7v@cluster0.dinlcaa.mongodb.net/?appName=Cluster0
JWT_SECRET=a316b4cb140394c4578a90b410cff32a19d39b3d42e937de38310fb995a0677aeec0e3e7fb51da1cdd591f9a943ab72e003612efc26e7c8a2c00a5f517619fdb
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
RAZORPAY_KEY_ID=rzp_test_T3ZXKLrBWYSuYT
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
